.container{
	vertical-align: middle;
	border: 1px solid black;
	text-align: center;
	width: 255px;
	height: 200px;
	display: table-cell;
	vertical-align: bottom;
}

.block {
	border: 1px solid black;
	margin: auto;
	vertical-align: bottom;
}

.selected {
	border: 5px solid cyan;
}


#one {
	width:50px;
	height:50px;
	background-color: red

}
#two {
	width:100px;
	height:50px;
	background-color: blue;
}
#three {
	width:200px;
	height:50px;
	background-color: green;
}
